bokeh
selenium
pillow
ipython
pandas
jupyter
seaborn
plotnine
jinja2
jinja2-highlight
markdown
scikit-misc
boto3
pytest
plotly
git+https://github.com/statsmodels/statsmodels.git#egg=statsmodels
rpy2
tzlocal
simplegeneric
