selenium
pillow
ipython
pandas
jupyter
seaborn
plotnine<0.7.0
jinja2
jinja2-highlight
markdown
scikit-misc
boto3
pytest
chart-studio
statsmodels==0.11.1
rpy2
psutil
plotly
tzlocal
simplegeneric
altair
altair-saver
selenium
