
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Interactive comparison of Python plotting libraries for exploratory data analysis. Examples of using Pandas plotting, plotnine, Seaborn, and Matplotlib. Includes comparison with ggplot2 for R.">
    <meta name="author" content="Timothy Hopper">

    <title>Python Plotting for Exploratory Analysis</title>

    <meta property="og:title" content="Python Plotting for Exploratory Analysis" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://pythonplot.com.s3-website-us-east-1.amazonaws.com" />
    <meta property="og:image" content="http://pythonplot.com.s3-website-us-east-1.amazonaws.com/img/cover.png" />
    <meta property="og:description"
      content="Interactive comparison of Python plotting libraries for exploratory data analysis. Examples of using Pandas plotting, plotnine, Seaborn, and Matplotlib. Includes comparison with ggplot2 for R." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tdhopper" />
    <meta name="twitter:creator" content="@tdhopper" />

    <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot-bottom.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/pygments-native.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101493036-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Python Plotting for EDA</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://www.tdhopper.com">tdhopper.com</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://www.twitter.com/tdhopper">@tdhopper</a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container">

      <div class="row"><div class="col-xs-12 col-lg-6 col-md-8 offset-md-1 offset-lg-2">
        <img class="img-fluid pb-4" src="http://pythonplot.com.s3-website-us-east-1.amazonaws.com/img/banner.png">
        <h1>Python Plotting for Exploratory Data Analysis</h1>

        <blockquote class="blockquote">
          <p>The simple graph has brought more information to the data analyst's mind than any other device.</p>
          <footer class="blockquote-footer">John Tukey in <cite title="Source Title"><a href="https://books.google.com/books?id=JuQD42kUxzIC&pg=PA457&lpg=PA457#v=onepage&q&f=false" target='_new'>The Future of Data Analysis</a></cite></footer>
        </blockquote>

        <h3>Contents</h3>
        <ul id="outline">
          <li><a href="#intro">Introduction</a></li>
          <li><a href="#examples">Examples</a><ol>
          {% for (name, slug), items in plots.items() %}
            <li><a href="#{{ slug }}">{{ name }}</a></li>
          {% endfor %}
          </ol></li>
        </ul>
        <span id="intro">{{ intro }}</span>
      </div>
      </div>

      <div class="row"><div class="col-xs-12 col-lg-8 col-md-8 offset-md-1 offset-lg-2">
        {% for name, table in data.items() %}
          <h5>{{ name }}</h5>

          {{ table }}
        {% endfor %}
      </div></div>

      <hr>
      <div class="row mt-4" id="examples"><div class="col-xs-12 col-md-10 offset-md-1">
        {% for (name, slug), items in plots.items() %}
          <div class="card mb-4" id="{{ slug }}">
            <div class="card-header">
              <h3 class="card-title mb-1">{{ name }}</h3>
              <ul class="nav nav-tabs card-header-tabs">
                {% for plot in items %}
                <li class="nav-item">
                  <a class="nav-link {% if loop.index0 == 0 %} active{% endif %}" data-toggle="tab" href="#{{ slug }}{{ plot['package-slug'] }}" role="tab">   {{ plot['package'] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="card-block p-0">
              <div class="tab-content">
                {% for plot in items %}
                  <div class="tab-pane  {% if loop.index0 == 0 %} active{% endif %}" id="{{ slug }}{{ plot['package-slug'] }}" role="tabpanel">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-6 col-xs-12 p-lg-0">
                          <a href="{{ plot['image'] }}" data-toggle="lightbox" data-title="{{ name }} - {{ plot['package'] }}">
                            <img src="{{ plot['image'] }}" class="img-fluid">
                          </a>
                        </div>
                        <div class="col-lg-6 col-xs-12 p-0 right-col d-inline-flex flex-column">
                          <h6 class="text-muted mb-0 pb-0 pt-3 px-3">Code:</h6>
                          {% if plot['package'] == "ggplot" %}
                            <code class="p-0 mb-auto">{% highlight 'R' %}{{ plot['content'] }}{% endhighlight %}</code>
                          {% else %}
                            <code class="p-0 mb-auto">{% highlight 'python' %}{{ plot['content'] }}{% endhighlight %}</code>
                          {% endif %}
                          {% if plot['comment'] %}
                          <div class="comment pt-3 px-3">
                          <h6 class="text-muted">Note:</h6>
                          {{ plot['comment'] }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}

      </div></div>

      <div class="row">
         <div class="col-3">© 2017 <a href="http://tdhopper.com">Tim Hopper</a></div>
         <div class="col-7">© 2017 <a href="https://github.com/tdhopper/pythonplot.com/blob/master/Examples.ipynb">
           Generated from an IPython Notebook on Github</a> (<a href="https://github.com/tdhopper/pythonplot.com/commit/{{ git  }}">{{ git }}</a>) <a href="https://travis-ci.org/tdhopper/pythonplot.com" target="_blank"><img src="https://travis-ci.org/tdhopper/pythonplot.com.svg?branch=master"></a></div>

         <div class="col-2"><p class="float-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox({alwaysShowClose: true});
      });
      $.bigfoot();
    </script>
  </body>
</html>
